body {
    background: center url(ombrewp.png);
    background-size: cover;
    font-family: Helvetica;
  }

  h1 {
    color: rosybrown;
    font-size: 50px;
    text-align: center;
    text-shadow: 3px 3px 3px whitesmoke,
                 7px 7px 3px whitesmoke;
  
  }
  
  h1 + p {
    font-weight: bold;
  }

  h2 {
    font-size: 35px;
    text-align: center;
    border: 15px ridge burlywood;
    text-shadow: 1px 1px 1px whitesmoke,
                 2px 2px 1px whitesmoke;
  
  }
